@using Jango.Lib.CastleWindsor.MVC.Extensions;
@{
    ViewBag.Title = "充值/充值卡";
    Layout = "~/Views/_LayoutView.cshtml";
}
@model IPagedList<Jango.Lab.Models.ChargeCard>
<h2>@ViewBag.Title</h2>

<div class="search">

</div>
<div class="panel">
    <div class="btn-group">
        <a href="/charge/Edit" class="btn btn-default">新增</a>
    </div>
</div>

<div class="panel-body">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>卡号</th>
                <th>面额</th>
                <th>送积分数</th>
                <th>价格</th>
                <th>是否有效</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CardNO</td>
                        <td>@item.Amount</td>
                        <td>@item.GiftIntegral</td>
                        <td>@item.Price</td>
                        @{
                            if (item.IsValid)
                            {
                                <td>有效</td>
                            }
                            else
                            {
                                <td>无效</td>}
                        }

                        <td>@item.Remark</td>
                        <td>
                            <a href="/charge/Edit?id=@item.ID">编辑</a>
                        </td>
                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">
                                        <div class="alert-warning ">暂无记录</div>
                                    </td>
                                </tr>
                            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    @if (Model != null)
                    {
                        @Html.Pagination(Model.TotalItemCount, Model.CurrentPageIndex, Model.PageSize)
                    }
                </td>
            </tr>
        </tfoot>
    </table>


</div>
