@{
    Layout = "~/Views/_LayoutView.cshtml";
}
@using Jango.Lab.Models;
@model Jango.Lab.Models.Coacher
@using (Ajax.BeginForm("Edit", new AjaxOptions() { HttpMethod = "POST" }))
{
    <link href="@Url.Content("~/css/fileinput.min.css")" rel="stylesheet" />
    <style>
        .fi_div {
            width: 80%;
            right: 0;
            position: relative;
            display: inline-block;
        }

            .fi_div .img_avatar {
                width: 60px;
                height: 60px;
            }
    </style>
    <div class="form">
        <div class="form-group">
            <input type="hidden" name="ID" value="@Model.ID" />
            <label>名称</label>
            <input class="input input-control" type="text" required maxlength="100" name="Name" value="@Model.Name" />
        </div>
        <div class="form-group">
            <label>头像</label>
            <div class="fi_div">
                @if (Model.ID > 0 && !string.IsNullOrEmpty(Model.Avatar))
                {
                    <div class="img_avatar">
                        <img width="60px" height="60px" src='@Url.Content(string.Format("~/{0}", Model.Avatar) )' />
                    </div>
                }
                <input id="input-2" name="fileAvatar" type="file" accept="image/*">
                <input type="hidden" name="Avatar" id="Avatar" value="@Model.Avatar" />
            </div>
            @*<input class="input input-control" type="file" required maxlength="11" name="Avatar" value="@Model.Avatar" />*@
        </div>
        <div class="form-group">
            <label>状态</label>
            <select class="input input-control" required name="Status">
                <option value="">--请选择--</option>
                <option value="0" @(Model.Status == EnumCoachStatus.On ? "selected" : "")>在职</option>
                <option value="1" @(Model.Status == EnumCoachStatus.Off ? "selected" : "")>离职</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">提交</button>
            <a class="btn btn-primary" href="/coacher/index">返回</a>
        </div>
    </div>

}
@section Scripts{
    <script src="@Url.Content("~/scripts/fileinput.min.js")"></script>
    <script>
        $(function () {
            $("#input-2").fileinput({
                'showPreview': false,
                uploadUrl: "@Url.Content("~/upload/uploadImage")",
                allowedFileExtensions: ['jpg', 'png', 'gif'],
                showUpload: true, //是否显示上传按钮
                maxFileSize: 1000,
                maxFilesNum: 1
            });
            $("#input-2").on("fileuploaded", function (e, d, p, idex) {
                var jso = JSON.parse(d.jqXHR.responseText);
                console.log(jso);
                if (jso.success) {
                    $("#Avatar").val(jso.filePath);
                    $(".fi_div").find(".img_avatar").remove();
                    $(".fi_div").append("<div class=\"img_avatar\"><img width=\"60px\" height=\"60px\" src='../.." + jso.filePath + "' /></div>");
                    //$("#input-2").val(res.filePath);
                }
            });
            $(".form-group").on("click", ".fileinput-remove-button", function () {
                $("#Avatar").val("");
                $(".fi_div").find(".img_avatar").remove();
            })
        })
    </script>
}
